<div class="container">
  <div class="media-body">
    <h1>Rejected contacts</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th> Name </th>
        <th> Phone </th>
        <th> Email </th>
        <th> Date of Birth </th>
        <th> Address </th>
        <th> Credit card number </th>
        <th> Franchise </th>
        <th> Error message </th>
      </tr>
      </thead>
      <tbody>

      <% @user.invalid_contacts.each do |contact| %>
        <tr>
          <td><%= contact.name.upcase %></td> </td>
          <td><%= contact.phone %> </td>
          <td><%= contact.email %> </td>
          <td><%= contact.date_of_birth %> </td>
          <td><%= contact.address %> </td>
          <td><%= contact.credit_card %> </td>
          <td><%= contact.franchise.upcase if contact.franchise.present? %> </td>
          <td><%= contact.message %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div>
      <%= will_paginate @invalid_contacts %>
    </div>
  </div>
</div>
